---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
import Sectionhead from "@components/sectionhead.astro";
import arrowImage from "assets/rightarrow.png";
import { Picture } from "astro:assets";

const list = [
  {
    title: "Academic",
    path: "/resources/academic",
  },
  {
    title: "Career",
    path: "/resources/career",
  },
  {
    title: "Opportunities",
    path: "/resources/opportunities",
  }
  ];
---

<Layout title="Resources">
  <Container>
    <Sectionhead>
        <Fragment slot="title">Resources</Fragment>
        <Fragment slot="desc">
        Resources for education, career, and opportunities.
        </Fragment>
      </Sectionhead>

      <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16 mb-30">
        {
          list.map((item) => (
            <a href={item.path} class="bg-white p">
            <div_1 class="flex gap-2 items-start">
              <di_2v>
                <h2 class="font-semibold text-2xl">{item.title}</h2>{" "}
              </di_2v>
              <div_3 class="mt-1 w-6 h-10 shrink-0">
                <Picture
                  src={arrowImage}
                  alt="Arrow"
                  />
                </div_3>
            </div_1>
          </a>
          ))
        }
      </div>
  </Container>
</Layout>