---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Online Programs",
    description:
      "STEMPOWERed's virtual programs extend STEM education globally, eliminating barriers through engaging workshops and webinars. Our online initiatives connect students with interactive learning experiences, transcending geographical limitations.",
    icon: "bx:bx-window-alt",
  },
  {
    title: "Outreach and Advocacy",
    description:
    "Advocating for diversity in STEM, STEMPOWERed collaborates with schools and industry partners to raise awareness. Our outreach efforts focus on fostering inclusivity and ensuring equal access to STEM opportunities for all aspiring individuals.",
    icon: "bx:bx-buildings",
  },
  {
    title: "Resources",
    description:
    "Empowering STEM journeys, STEMPOWERed provides a rich array of resources—from educational materials to scholarships and career guides. Our comprehensive platform ensures that everyone has the tools they need to navigate and succeed in the world of STEM. ",
    icon: "bx:bx-paperclip",
  },
];
---

<div class="pt-10 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    What it is that we do
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Here at STEMPOWERed, we are committed to providing equitable access to quality STEM education and career opportunities, particularly to underrepresented individuals.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16 mb-30">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h2 class="font-semibold text-2xl">{item.title}</h2>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
