---
import { Picture } from "astro:assets";
import heroImage from "assets/hero.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-10 pb-8 md:pt-12 md:pb-15">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="Astronaut in the air"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
      height={500}
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Empowering the next generation of STEM leaders
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      STEMPOWERed is a 501(c)3 nonprofit organization that aims to empower youth, particularly girls and underrepresented individuals, to pursue their goals in STEM fields. Our organization firmly believes that everyone deserves access to quality education and opportunities, regardless of their background or socio-economic status.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="https://hcb.hackclub.com/donations/start/stempowered"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class="text-white w-5 h-5" name="bx:bx-donate-blood" />

         Donate Today
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://www.justserve.org/projects/e7e85448-ad67-4bcc-a372-904dd8aec930"
        class="flex gap-1 items-center justify-center"
        target="_blank">
        <Icon class="text-black w-5 h-5" name="bx:bx-info-circle" />
         Learn More
      </Link>
    </div>
  </div>
</main>
